extends layoutOnline

block content
    div(class="bgimg")
      .w3-container.w3-padding-64
        form.w3-container(method="GET" action="/searchBike")
          .w3-col.l3.m3
            input.w3-input.w3-border(type='text' name='make' placeholder="Marca...")
          .w3-col.l3.m3
            input.w3-input.w3-border(type='text' name='model' placeholder="Model...")
          .w3-col.l3.m3
            input.w3-btn.w3-light-grey.w3-border(type='submit' value='Procurar')
      if posts
        .w3-row
          .w3-col-l6.m6
            each post in posts
              .w3-container.w3-border
                .w3-container.w3-border
                  .w3-card-4
                    header.w3-container.w3-khaki.w3-border
                      h3=post.user.name+" - "+post.postDate
                    .w3-col.l6.m6
                      .w3-container
                        img(src=""+post.picture width="500" height="auto")
                    .w3-col.l6.m6.w3-display-container
                      .w3-container
                        .w3-ul
                          li
                            b Make 
                            span=post.bike.make
                          li
                            b Model 
                            span=post.bike.model
                          li
                            b Year 
                            span=post.bike.year
                          li
                            b Month 
                            span=post.bike.month
                          li
                            b Cylinder Capacity 
                            span=post.bike.cylinderCapacity
                          li
                            b Power  
                            span=post.bike.power
                          li
                            b Kilometers 
                            span=post.bike.kilometers
                          li
                            b Condition 
                            span=post.bike.condition
                    footer
                      input.w3-btn.w3-khaki(value="Like (" + post.likes+ ")" id="likebtn")
                      input.w3-btn.w3-khaki(value="Dislike (" + post.dislikes+ ")" id="dislikebtn")
                .w3-container.w3-border
                  if post.opinions
                    .w3-card-4
                      header.w3-container
                        h4 Comments
                      each opinion in post.opinions
                        p
                          b=opinion.user.name
                        p=opinion.text

                    form.w3-container(method="POST" action="/posts/comment/"+post._id)
                      input.w3-input.w3-border(type='text' name='text' placeholder='Write something...!')
                      input.w3-btn.w3-light-grey.w3-border(type='submit' value='Comment')