extends layoutOnline

block content
    div(class="bgimg")
        .w3-container.w3-padding-90.w3-cell-row(style="width:80%")
            .w3-container.w3-cell
                img(src=""+user2.picture width="120" height="120" right="0" class="w3-left w3-circle w3-margin-right" alt="Avatar")
        hr
        .w3-container.w3-cell-row
            .w3-container.w3-cell
            p
                b Rating: #{user2.rating}
            dl
                dt 
                    b Name:
                dd= user2.name
                dt 
                    b Nationality:
                dd= user2.nationality
                dt 
                    b District:
                dd= user2.district
                dt 
                    b City:
                dd= user2.city
                dt 
                    b CellPhone:
                dd= user2.cellPhone
                dt 
                    b Birth:
                dd= user2.birth
            .w3-container.w3-cell.w3-border-left2(style="width:70%")
                h1 
                    b Posts
                if posts
                    each post in posts
                        p(id="user"+post._id hidden)=user.name
                        div(class="w3-container w3-card w3-white w3-round w3-margin2")
                            br
                            a(href="/users/profileVisit/"+post.user._id)
                                img(src=""+post.user.picture width="30" height="30" right="0" class="w3-left w3-circle w3-margin-right" alt="Avatar")
                            span(class="w3-right w3-opacity")= post.postDate
                            h4
                                a(href="/users/profileVisit/"+post.user._id)
                                    b(style="color:black")=post.user.name
                            hr
                            div(class="w3-row-padding" style="margin:0 -16px")
                                div(class="w3-half")
                                    img(src=""+post.picture width="250px" height="250px" class="w3-margin-bottom")
                                div(class="w3-half")
                                    .w3-ul
                                        li
                                            b Make 
                                            span=post.bike.make
                                        li
                                            b Model 
                                            span=post.bike.model
                                        li
                                            b Year 
                                            span=post.bike.year
                                        li
                                            b Month 
                                            span=post.bike.month
                                        li
                                            b Cylinder Capacity 
                                            span=post.bike.cylinderCapacity
                                        li
                                            b Power  
                                            span=post.bike.power
                                        li
                                            b Kilometers 
                                            span=post.bike.kilometers
                                        li
                                            b Condition 
                                            span=post.bike.condition
                            .w3-btn.w3-grey(value=post.likes id="like"+post._id class="w3-margin-right w3-round") Like 
                                label="("+post.likes+")"
                            .w3-btn.w3-grey(value=post.dislikes id="dislike"+post._id class="w3-margin-right w3-round") Dislike 
                                label="("+post.dislikes+")"
                            .w3-btn.w3-grey(id="comentarios"+post._id class="w3-round") Comments 
                                label="("+post.opinions.length+")"
                            hr
                            .w3-container(id="comentariosContainer"+post._id style="display:none")
                                if post.opinions
                                    .w3-container(id="opinions"+post._id)
                                        each opinion in post.opinions
                                            .w3-card
                                                header
                                                    br
                                                .w3-container
                                                    a(href="/users/profileVisit/"+opinion.user._id)
                                                        img(src=""+opinion.user.picture width="15" height="15" right="0" class="w3-left w3-circle w3-margin-right" alt="Avatar")
                                                    h6  
                                                        a(href="/users/profileVisit/"+opinion.user._id)
                                                            b(style="color:black")=opinion.user.name 
                                                    p(class="w3-margin-left")=opinion.text
                                            br
                                    form(id="opinion"+post._id)
                                        input(type="hidden" id="user"+post._id value=user._id) 
                                        input(type="hidden" id="username"+post._id value=user.name) 
                                        input(type="hidden" id="userphoto"+post._id value=user.picture)
                                        textarea.w3-input.w3-border(type='text' id='body'+post._id placeholder='Write something...!')
                                        br
                                        input.w3-btn.w3-grey(id="addOpinion"+post._id value='Comment' class="w3-margin-bottom w3-round")